.contact-form-root {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #f4fcfc;
  position: relative;
}

.contact-title {
  color: #38c2c2;
  font-weight: 700;
  letter-spacing: 3px;
  padding-bottom: 16px;
}
.contact-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  padding: 8px 2% 2%;
}
.input {
  border: 1px solid #333;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 20px;
}
.error-required {
  border-color: red;
  background-color: #ffe6e6;
}
.error-message {
  color: red;
  font-size: 12px;
  text-align-last: end;
}
.error-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.message {
  height: 80px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: 550px;
}
@media screen and (max-width: 768px){
  .input-wrapper {
    width: 100%;
  }
}
.label {
  font-size: 14px;
  min-width: 150px;
}
.submit {
  padding :10px 50px;
  margin-top: 40px;
  width:200px;
  border: 1px solid #38c2c2;
  color: #38c2c2;
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: 6px;
}
.submit:hover {
  background: #38c2c2;
  transition: 0.2s;
  color: #f4fcfc;
}
@media screen and (max-width: 768px){
  .label {
    font-size: 12px;
    min-width: 85px;
  }
  .submit {
    font-size: 14px;
    letter-spacing: 2px;
    width: 100%;
    margin: 0px 0 16px;
    background-color: #38c2c2;
    color: #fff;
  }
  .submit:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}
.status-message {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  background: #38c2c2;
  color: #f4fcfc;
  width: 100%;
  bottom: 75px;
  padding: 4px;
  transition: opacity 0.8s ease;
  opacity: 1;
}
.status-message.hidden {
  opacity: 0;
}
.contact-form-text {
  font-size: 14px;
  color:#38c2c2;
  padding:8px 2% 20px;
  max-width: 800px;
}